:root {
  --index: calc(1vw + 1vh);
}

:root {
  --color-primary: #51514d;
  --color-secondary: #664914;
  --colorWhite: #ffffff;
  --colorGreen: #00474b;
  --colorLabels: #51514d;
  --borderColor: #d7d3d0;
  --mainBack: #f6f8f3;
  --secondaryBack: #eff2eb;
  --transparentBack: rgba(217, 217, 217, 0.01);
  --hoverBack: rgba(255, 255, 255, 0.3);
  --blur: blur(20px);
  --titleSize: 34px;
  --mainSize: 18px;
  --smallSize: 14px;
}

@-webkit-keyframes showBlock {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes showBlock {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.page__back img {
  -o-object-position: 0 0;
     object-position: 0 0;
}

.hero {
  position: relative;
  padding-top: 285px;
  padding-bottom: 255px;
}
@media (max-width: 1330px) {
  .hero {
    padding-top: calc(150px + 135 * (100vw - 320px) / 1010);
  }
}
@media (max-width: 1330px) {
  .hero {
    padding-bottom: calc(100px + 155 * (100vw - 320px) / 1010);
  }
}
.hero__background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.hero__container {
  position: relative;
  z-index: 2;
}
.hero__label {
  margin-bottom: 26px;
}
.hero__title {
  margin-bottom: 41px;
}
@media (max-width: 1330px) {
  .hero__title {
    margin-bottom: calc(30px + 11 * (100vw - 320px) / 1010);
  }
}
.blog-latest {
  padding-top: 100px;
}
@media (max-width: 1330px) {
  .blog-latest {
    padding-top: calc(70px + 30 * (100vw - 320px) / 1010);
  }
}
.blog-latest__container {
  overflow: hidden;
}
@media (min-width: 1300px) {
  .blog-latest__wrapper {
    margin-right: -32.5%;
  }
}

.header-blog-latest {
  margin-bottom: 100px;
}
@media (max-width: 1330px) {
  .header-blog-latest {
    margin-bottom: calc(40px + 60 * (100vw - 320px) / 1010);
  }
}
.header-blog-latest__label {
  margin-bottom: 19px;
}
.header-blog-latest__body {
  display: grid;
  grid-template-columns: auto 1fr;
  -webkit-column-gap: 33px;
     -moz-column-gap: 33px;
          column-gap: 33px;
}
@media (max-width: 767.98px) {
  .header-blog-latest__body {
    grid-template-columns: 1fr;
    row-gap: 20px;
  }
}
.header-blog-latest__title {
  grid-column: -1/1;
}
@media (min-width: 767.98px) {
  .header-blog-latest__show-mobile {
    display: none;
  }
}
@media (max-width: 767.98px) {
  .header-blog-latest__show-desktop {
    display: none;
  }
}
@media (min-width: 991.98px) {
  .header-blog-latest__subtitle {
    margin-top: 21px;
  }
}

@media (min-width: 991.98px) {
  .swiper-blog-latest__slide {
    max-width: 739px;
    width: 100%;
  }
}
.swiper-blog-latest__body {
  position: relative;
}
.swiper-blog-latest__image {
  padding-bottom: 59.6%;
}
@media (max-width: 767.98px) {
  .swiper-blog-latest__image {
    min-height: 300px;
  }
}
.articles {
  padding-top: 129px;
  padding-bottom: 81px;
}
@media (max-width: 1330px) {
  .articles {
    padding-top: calc(70px + 59 * (100vw - 320px) / 1010);
  }
}
@media (max-width: 1330px) {
  .articles {
    padding-bottom: calc(70px + 11 * (100vw - 320px) / 1010);
  }
}
.header-articles {
  text-align: center;
  margin-bottom: 35px;
}
.header-articles__label {
  margin-bottom: 24px;
}
.nav-articles {
  margin-bottom: 129px;
}
@media (max-width: 1330px) {
  .nav-articles {
    margin-bottom: calc(40px + 89 * (100vw - 320px) / 1010);
  }
}
.nav-articles__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 14px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 420px) {
  .nav-articles__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 420px) {
  .nav-articles__item {
    width: 100%;
  }
}
@media (max-width: 420px) {
  .nav-articles__button {
    display: block;
    width: 100%;
  }
}

.content-articles {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  -webkit-column-gap: 50px;
     -moz-column-gap: 50px;
          column-gap: 50px;
  row-gap: 77px;
  margin-bottom: 85px;
}
@media (max-width: 1330px) {
  .content-articles {
    -webkit-column-gap: calc(30px + 20 * (100vw - 320px) / 1010);
       -moz-column-gap: calc(30px + 20 * (100vw - 320px) / 1010);
            column-gap: calc(30px + 20 * (100vw - 320px) / 1010);
  }
}
@media (max-width: 1330px) {
  .content-articles {
    row-gap: calc(30px + 47 * (100vw - 320px) / 1010);
  }
}
@media (max-width: 1330px) {
  .content-articles {
    margin-bottom: calc(40px + 45 * (100vw - 320px) / 1010);
  }
}
@media (max-width: 767.98px) {
  .content-articles {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  }
}
.content-articles__item {
  display: none;
  -webkit-animation: showBlock 0.5s linear forwards;
          animation: showBlock 0.5s linear forwards;
}
.content-articles__item._show {
  display: block;
}
.content-articles__body {
  position: relative;
  margin-bottom: 13px;
  display: block;
}
@media (any-hover: hover) {
  .content-articles__body:hover .content-articles__image img {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }
}
.content-articles__image {
  padding-bottom: 101.25%;
  overflow: hidden;
}
.content-articles__image img {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.content-articles__icon {
  position: absolute;
  bottom: 21px;
  right: 23px;
}
.content-articles__icon svg {
  fill: var(--colorWhite);
  stroke: var(--colorWhite);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.content-articles__text {
  padding-block: 22px;
  border-bottom: 1px solid var(--borderColor);
}
@media (max-width: 1330px) {
  .content-articles__text {
    padding-block: calc(10px + 12 * (100vw - 320px) / 1010);
  }
}
.content-articles__title {
  font-size: 24px;
  font-family: "Adobe Caslon Pro";
  text-transform: uppercase;
  color: #282825;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin-bottom: 10px;
}
@media (max-width: 1330px) {
  .content-articles__title {
    font-size: calc(20px + 4 * (100vw - 320px) / 1010);
  }
}
@media (any-hover: hover) {
  .content-articles__title:hover {
    color: var(--colorGreen);
    text-decoration: underline;
  }
}
.content-articles__footer {
  padding-block: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 19px;
  color: var(--colorGreen);
}
.content-articles__category {
  padding-left: 19px;
  border-left: 1px solid var(--borderColor);
}

.footer-articles {
  text-align: center;
}
.footer-articles__button {
  font-size: 16px;
  color: var(--color-primary);
  padding: 7px 33px;
  border: 1px solid var(--color-primary);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
@media (any-hover: hover) {
  .footer-articles__button:hover {
    background: var(--color-primary);
    color: var(--colorWhite);
  }
}