$containerWidth: 1330;

@import "mixins.scss";

:root {
	--color-primary: #51514d;
	--color-secondary: #664914;
	--colorWhite: #ffffff;
	--colorGreen: #00474b;
	--colorLabels: #51514d;
	--borderColor: #d7d3d0;

	--mainBack: #f6f8f3;
	--secondaryBack: #eff2eb;
	--transparentBack: rgba(217, 217, 217, 0.01);
	--hoverBack: rgba(255, 255, 255, 0.3);

	--blur: blur(20px);

	--titleSize: 34px;
	--mainSize: 18px;
	--smallSize: 14px;
}
//

.page {
	&__back-box {
	}
	&__back {
		img {
			object-position: 0 0;
		}
	}
}

.hero {
	position: relative;
	@include adaptiveValue(padding-top, 274, 150);
	@include adaptiveValue(padding-bottom, 298, 100);
	&-extra {
		@include adaptiveValue(padding-top, 285, 150);
		@include adaptiveValue(padding-bottom, 255, 100);
	}
	&__swiper {
	}
	&__decor {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}

	&__container {
		position: relative;
		z-index: 2;
	}

	&__label {
		margin-bottom: 26px;
	}

	&__title {
	}
	&__subtitle {
		font-weight: 200;
		text-align: center;
		color: var(--colorWhite);
		@include adaptiveValue(margin-bottom, 41, 30);
		span {
			display: block;
		}
	}

	&__form {
	}
}
.swiper-hero {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;

	&__wrapper {
	}

	&__slide {
		width: 100%;
		img,
		picture,
		video,
		source {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			object-fit: cover;
			object-position: center;
		}
	}
}

.hero-form {
	max-width: 607px;
	margin: 0 auto;
	display: flex;
	gap: 14px;
	@media (max-width: 767.98px) {
		flex-direction: column;
		max-width: 500px;
	}
	&__input {
		flex: 0 1 50%;
		backdrop-filter: blur(3px);
		background: rgba(255, 255, 255, 0.15);
		padding: 7px 17px;
		color: rgb(255, 255, 255);
		font-size: 16px;
		line-height: 150%; /* 24/16 */
		&::placeholder {
			color: var(--colorWhite);
		}
	}

	&__button {
		flex: 0 1 50%;
		padding: 7px 34px;
	}
}
//==========================================================================================================================================================

.our-story {
	@include adaptiveValue(padding-top, 157, 70);
	&__header {
	}

	&__content {
	}
	&__sentence {
		@include adaptiveValue(padding-top, 68, 40);
		@include adaptiveValue(padding-bottom, 99, 40);
		@media (min-width: 991.98px) {
			max-width: 700px;
			margin-left: auto;
		}
		p:not(:last-child) {
			margin-bottom: 20px;
		}
	}

	&__container {
	}
	&__image {
		padding-bottom: 50%;
		min-height: 400px;
	}
}

.header-our-story {
	@include adaptiveValue(margin-bottom, 84, 40);
	&__container {
	}

	&__label {
		margin-bottom: 19px;
		text-align: center;
	}

	&__body {
		text-align: center;
	}

	&__title {
	}

	&__show-mobile {
	}

	&__show-desktop {
		@media (max-width: 767.98px) {
			display: none;
		}
	}

	&__subtitle {
		margin-top: 21px;
	}
}

.content-our-story {
	background: var(--secondaryBack);
	@include adaptiveValue(padding-top, 74, 30);
	@include adaptiveValue(padding-bottom, 48, 30);
	&__container {
		overflow: hidden;
	}

	&__container-big {
	}
	&__body {
	}

	&__swiper {
	}

	&__wrapper {
	}

	&__slide {
		padding-bottom: 53.6%;
		@media (min-width: 992px) {
			padding-bottom: 34.6%;
		}
		min-height: 400px;
	}
}

//==========================================================================================================================================================

.about-us-story {
	@include adaptiveValue(padding-top, 159, 70);
	&__container {
	}
	&__content {
		display: flex;
		align-items: center;
		@media (max-width: 991.98px) {
			flex-direction: column-reverse;
			justify-content: center;
			gap: 40px;
		}
	}

	&__decor {
	}

	&__body {
	}
	&__label {
		margin-bottom: 19px;
		text-align: center;
	}
	&__title {
		text-align: center;
	}
	&__subtitle {
		@include adaptiveValue(margin-bottom, 70, 40);
	}
}
.decor-about-story {
	flex: 0 0 54.88%;
	min-width: 0;
	@media (max-width: 991.98px) {
		max-width: 100%;
		width: 100%;
	}
	&__swiper {
	}

	&__wrapper {
	}

	&__slide {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		@media (max-width: 991.98px) {
			justify-content: center;
		}
	}
	&__image {
		padding-bottom: 100%;
		width: 100%;
		@media (min-width: 767.98px) and (max-width: 991.98px) {
			padding-bottom: 50%;
		}
	}
}

.body-about-story {
	flex: 0 1 auto;
	@media (min-width: 991.98px) {
		margin-left: -19%;
	}
	position: relative;
	z-index: 2;
	background: var(--secondaryBack);
	&__header {
		padding: 50px 75px 0px 35px;
		@media (max-width: 767.98px) {
			padding: 20px 15px 0px;
		}
	}

	&__lable {
		margin-bottom: 19px;
	}

	&__title {
		@include adaptiveValue(font-size, 62, 27);
		span {
			color: var(--colorGreen);
			@media (min-width: 991.98px) {
				display: block;
				text-align: right;
			}
		}
		@include adaptiveValue(margin-bottom, 36, 30);
	}

	&__content {
		padding: 0 60px 60px;

		@media (max-width: 767.98px) {
			padding: 0 15px 20px;
		}
	}

	&__text {
		@include adaptiveValue(font-size, 18, 16);
		@include adaptiveValue(margin-bottom, 47, 30);
		p:not(:last-child) {
			@include adaptiveValue(margin-bottom, 30, 20);
		}
	}

	&__button {
	}
}

//==========================================================================================================================================================

.restaurant-about-us {
	@include adaptiveValue(padding-top, 122, 70);
	&__container {
	}

	&__header {
	}

	&__content {
	}
}
.header-restaurant-about {
	text-align: center;
	@include adaptiveValue(margin-bottom, 99, 40);
	&__label {
		margin-bottom: 15px;
	}

	&__title {
		margin-bottom: 15px;
	}

	&__subtitle {
	}
}

.content-restaurant-about {
	position: relative;
	&::after {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		top: -5%;
		left: 0;
		max-height: 400px;
		background: var(--secondaryBack);
	}
	&__nav {
		justify-content: flex-end;
		margin-bottom: 17px;
	}

	&__swiper {
	}

	&__wrapper {
		@media (max-width: 991.98px) and (min-width: 767.98px) {
			padding-bottom: 50px;
		}
		@media (min-width: 991.98px) {
			padding-bottom: 100px;
		}
	}

	&__slide {
		&.swiper-slide-active {
			& .content-restaurant-about__image {
				@media (max-width: 991.98px) and (min-width: 767.98px) {
					transform: translate(0, 50px);
				}
				@media (min-width: 991.98px) {
					transform: translate(0, 100px);
				}
			}
		}
	}
	&__image {
		padding-bottom: 110%;
		min-height: 400px;
		transition:
			transform 0.5s ease 0s,
			padding-bottom 0.5s ease 0s;
	}
}
//==========================================================================================================================================================

.space-time {
	@include adaptiveValue(padding-top, 122, 70);
	&__header {
		text-align: center;
	}

	&__body {
	}
}
.header-space-time {
	@include adaptiveValue(margin-bottom, 70, 40);
	&__container {
	}

	&__label {
		margin-bottom: 19px;
	}

	&__title {
	}
	&__subtitle {
	}
}

.body-space-time {
	&__container {
	}

	&__container-big {
		padding: 0;
	}

	&__decor {
		padding-bottom: 40%;
		min-height: 400px;
	}
}

//==========================================================================================================================================================

.about-us-advantages {
	@include adaptiveValue(padding-top, 122, 70);
	&__header {
		text-align: center;
	}

	&__body {
	}
}
.header-about-us-advantages {
	@include adaptiveValue(margin-bottom, 70, 40);
	&__container {
	}

	&__label {
		margin-bottom: 19px;
	}

	&__title {
	}
	&__subtitle {
	}
}

.body-about-us-advantages {
	&__container {
	}

	&__container-big {
		padding: 0;
	}

	&__decor {
		padding-bottom: 40%;
		min-height: 400px;
	}
}

//==========================================================================================================================================================

.description {
	@include adaptiveValue(padding-top, 159, 70);
	&__container {
	}

	&__body {
	}

	&__item {
		display: flex;
		@include adaptiveValue(gap, 68, 30);
		align-items: center;
		@media (max-width: 767.98px) {
			flex-direction: column-reverse;
			&:not(:last-child) {
				margin-bottom: 50px;
			}
		}
		&-reverse {
			flex-direction: row-reverse;
			@media (max-width: 767.98px) {
				flex-direction: column-reverse;
			}
		}
	}

	&__decor {
		flex: 0 0 50%;
		padding-bottom: 50%;
		@media (max-width: 767.98px) {
			width: 100%;
		}
	}

	&__content {
		flex: 1 1 auto;
	}

	&__title {
		color: var(--colorGreen);
		text-align: center;
	}
}

.header-description {
	text-align: center;
	&__label {
		margin-bottom: 19px;
	}

	&__title {
	}

	&__subtitle {
		@include adaptiveValue(margin-bottom, 70, 40);
	}
}

//==========================================================================================================================================================
.adventure {
	@include adaptiveValue(padding-top, 159, 70);
	@include adaptiveValue(padding-bottom, 159, 70);
	&__container {
	}
	&__content {
	}

	&__decor {
	}

	&__body {
	}
	&__label {
		margin-bottom: 19px;
		text-align: center;
	}
	&__title {
		text-align: center;
	}
	&__subtitle {
		@include adaptiveValue(margin-bottom, 70, 40);
	}
}
.decor-adventure {
	min-width: 0;
	@media (max-width: 991.98px) {
		max-width: 100%;
		width: 100%;
	}
	&__swiper {
	}

	&__wrapper {
	}

	&__slide {
		display: flex;
		align-items: center;
		@media (max-width: 991.98px) {
			flex-direction: column-reverse;
			justify-content: center;
			gap: 40px;
		}
	}
	&__image {
		flex: 0 0 54.88%;
		padding-bottom: 54.88%;
		@media (min-width: 767.98px) and (max-width: 991.98px) {
			padding-bottom: 50%;
		}
		@media (max-width:991.98px) {
			width: 100%;
		}
	}
}

.body-adventure {
	flex: 0 1 auto;
	@media (min-width: 991.98px) {
		margin-left: -19%;
	}
	position: relative;
	z-index: 2;
	background: var(--secondaryBack);
	&__header {
		padding: 50px 75px 0px 35px;
		@media (max-width: 767.98px) {
			padding: 20px 15px 0px;
		}
	}

	&__lable {
		margin-bottom: 19px;
	}

	&__title {
		@include adaptiveValue(font-size, 62, 27);
		span {
			@media (min-width: 991.98px) {
				display: block;
				text-align: right;
			}
			color: var(--colorGreen);
		}
		@include adaptiveValue(margin-bottom, 36, 30);
	}

	&__content {
		padding: 0 60px 60px;

		@media (max-width: 767.98px) {
			padding: 0 15px 20px;
		}
	}

	&__text {
		@include adaptiveValue(font-size, 18, 16);
		@include adaptiveValue(margin-bottom, 47, 30);
		p:not(:last-child) {
			@include adaptiveValue(margin-bottom, 30, 20);
		}
	}

	&__button {
	}
}
